/* STATIC */

* {
	font-family: 'Jua', sans-serif;
	letter-spacing: .1px;
}

html, body, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
	margin: 0;
	padding: 0;
}

body, th, td, input, select, textarea, button {
	font-size: 12px;
	line-height: 1.5;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

/* HEAD */

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #A297BD;
}

header .header_title {
	line-height: 50px;
	font-weight: normal;
	font-size: 20px;
	padding-left: 28px;
}

/* BODY */

.comment_form fieldset {
	position: relative;
	top: 50px;
	border: 0;
	text-align: center;
	padding: 30px 28px;
	font-size: 14px;
	max-width: 294px;
	margin: 0 auto;
}

.comment_form .wrap_content {
	margin: 8px 0 20px;
}

.screen_out {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
}

.comment_form .wrap_content textarea {
	padding: 12px;
	min-height: 84px;
	border: 1px solid #DBDFE5;
	width: 90%;
	font-size: 14px;
	color: #9199A4;
	background-color: #FFF;
	resize: vertical;
}

.comment_form .wrap_btn {
	float: right;
}

.comment_form .btn {
	width: 70px;
	height: 32px;
	border-radius: 32px;
	font-size: 14px;
	line-height: 31px;
	outline: none;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	cursor: pointer;
}

.comment_form .btn_reset {
	border: 1px solid #DBDFE5;
	color: #000;
	background-color: #fff;
}

.comment_form .btn_submit {
	border: 0;
	color: #fff;
	background-color: #EC5621;
}

fieldset, img {
	border: 0 none;
}

input, select, textarea, button {
	vertical-align: middle;
}
