<div class="card border-primary mb-3" style="max-width:18rem;">
	<div class="card-header">오전</div>
	<div class="card-body text-primary">
		<h5 class="card-title">About "오전"</h5>
		<p class="card-text">07:30 ~ 12:15<br>사무실에서 근무</p>
	</div>
</div>
<div class="card border-secondary mb-3" style="max-width:18rem;">
	<div class="card-header">오후</div>
	<div class="card-body text-secondary">
		<h5 class="card-title">About "오후"</h5>
		<p class="card-text">12:15 ~ 17:30<br>사무실에서 근무</p>
	</div>
</div>
<div class="card border-success mb-3" style="max-width:18rem;">
	<div class="card-header">주간</div>
	<div class="card-body text-success">
		<h5 class="card-title">About "주간"</h5>
		<p class="card-text">07:30 ~ 17:30<br>사무실에서 근무</p>
	</div>
</div>
<div class="card border-danger mb-3" style="max-width:18rem;">
	<div class="card-header">야간</div>
	<div class="card-body text-danger">
		<h5 class="card-title">About "야간"</h5>
		<p class="card-text">17:30 ~ 07:30<br>사무실에서 근무</p>
	</div>
</div>
<div class="card border-warning mb-3" style="max-width:18rem;">
	<div class="card-header">주간당직</div>
	<div class="card-body text-warning">
		<h5 class="card-title">About "주간당직"</h5>
		<p class="card-text">08:30 ~ 17:30<br>생활관(당직실)에서 근무</p>
	</div>
</div>
<div class="card border-info mb-3" style="max-width:18rem;">
	<div class="card-header">야간당직</div>
	<div class="card-body text-info">
		<h5 class="card-title">About "야간당직"</h5>
		<p class="card-text">17:30 ~ 08:30<br>생활관(당직실)에서 근무</p>
	</div>
</div>
