<div class="card" style="color:#fff;background-color:#ffe69c;">
  <div class="card-header text-left">
    Schedule
  </div>
  <div class="card-body" style="padding:2px;">
	<div style="position:relative;padding-top:56%;width:100%;height:0;">
		<iframe src="/user/schedule" scrolling="no" style="position:absolute;top:0;left:0;width:100%;height:100%;"><p>이 브라우저는 iframe을 지원하지 않습니다.</iframe>
		<a href="/user/schedule" style="position:absolute;top:0;left:0;width:100%;height:100%;"></a>
	</div>
  </div>
</div>
