<!doctype html>
<html class="h-100">
	<head>
		<%- include('./parts/head.ejs'); -%>
		<script type="text/javascript" src="/js/typer.min.js"></script>
		<script type="text/javascript" src="/js/user/index.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				typerStart();
			});
		</script>
	</head>
	<body class="d-flex h-100 text-white text-center bg-dark">
		<%- include('./parts/svg.ejs'); -%>
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			<%- include('./parts/header.ejs'); -%>
			<main class="py-3">
				<div class="container-md">
					<div class="bd-callout bd-callout-warning">
						<%- include('./parts/schedule/schedule-card.ejs'); -%>
					</div>
				</div>
			</main>
			<footer class="mb-auto"></footer>
		</div>
	</body>
</html>
